<h1>Favorites</h1>

<% if @current_user.cities.count == 0 %>
  <br/>
  <h4>no favorites added</h4>
<% end %>

<div class="row">
  <% @cities.each do |city| %>
    <div class="col-sm-4 text-center">
      <%= react_component('FavoritePanel', stringID: city.id.to_s, id: city.id.to_i, cityName: city.name, latitude: city.latitude.to_f, longitude: city.longitude.to_f, time: Time.new().to_i) %>
    </div>
  <% end %>
</div>
