<h1>Favorites</h1>

<div class="row">
  <% @current_user.cities.each do |city| %>
    <div class="col-sm-4">
      <%= react_component('FavoritePanel', cityName: city.name, latitude: city.latitude, longitude: city.longitude, time: Time.new().to_i) %>
    </div>
  <% end %>
</div>
