<div class="row">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h1><%= @cityName %></h1>
    </div>

    <div class="panel-body">

      <div class="row">
        <div class="col-sm-1"></div>

        <div class="col-sm-4">
          <div class="row">
            <div class="col-sm-12 text-center">
              <h2>Current Weather</h2>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 text-center">
              <%= react_component('WeatherPanel', latitude: @latitude, longitude: @longitude, time: Time.new().to_i) %>
            </div>
          </div>
        </div>
        <div class="col-sm-7"></div>
      </div>

      <div class="row">
        <div class="col-sm-12 text-center">
          <h2>10-day Forecast</h2>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-1"></div>
        <% (1..10).each do |num|%>
          <% if num == 6 %>
            </div>
            <div class="row">
              <div class="col-sm-1"></div>
          <% end %>
          <div class="col-sm-2 text-center">
            <%= react_component('DayPanel', latitude: @latitude, longitude: @longitude, time: Time.new().to_i + (num*86400)) %>
          </div>
        <% end %>
      </div>

    </div>
  </div>
</div>
