<div class="row">
  <script>$(function () {$('[data-toggle="tooltip"]').tooltip()})</script>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h1><%= @cityName %>
        <span class="pull-right" data-toggle="tooltip" data-placement="top" title="Add to favorites">
          <%= link_to cities_create_path(name: @cityName, latitude: @latitude, longitude: @longitude), method: :post do %>
            <span class="glyphicon glyphicon-heart-empty" style="color: #333333" aria-hidden="true"></span>
          <% end %>
        </span>
      </h1>

    </div>

    <div class="panel-body">

      <div class="row">
        <div class="col-sm-1"></div>

        <div class="col-sm-4">
          <div class="row">
            <div class="col-sm-12 text-center">
              <h2>Current Weather</h2>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 text-center">
              <%= react_component('WeatherPanel', panelID: "currentWeather", latitude: @latitude, longitude: @longitude, time: Time.new().to_i) %>
            </div>
          </div>
        </div>
        <div class="col-sm-7"></div>
      </div>

      <div class="row">
        <div class="col-sm-12 text-center">
          <h2>10-day Forecast</h2>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-1"></div>
        <% (0..9).each do |num|%>
          <% if num == 5 %>
            </div>
            <div class="row">
              <div class="col-sm-1"></div>
          <% end %>
          <div class="col-sm-2 text-center">
            <%= react_component('DayPanel', latitude: @latitude, longitude: @longitude, time: Time.new().to_i + (num*86400)) %>
          </div>
        <% end %>
      </div>

    </div>
  </div>
</div>
